#key-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 45px;
    color: white;
    background-color: #818384;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.4s;
}

@media(max-width: 767px) {
    .key {
        width: 33px;
    }

    .key.big {
        width: 51.3px;
    }
}


.big {
    width: 70px;
}

.key-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.green {
    background: #538D4E;
}



.yellow {
    background: #B59F3B;
}

.key:hover {
    opacity: 70%;
}
#enter {
    transform: rotate(180deg);
}
